@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://img.freepik.com/free-vector/kids-playground-sunny-weather-children-area_107791-11059.jpg?w=1380&t=st=1666951464~exp=1666952064~hmac=e1919286fb773ca14303efea2cbf119a0bb84d3e63afb2470af962a716c05151) no-repeat fixed center center/cover;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 3em;
    height: 100vh;
    width: 100vw;
}
h1{
    text-align: center;
}

.search{
    display: flex;
    flex-direction: row;   
}

.buttons{
   
}

button{
    min-width: 10vw;
}

footer{
    font-family: sans-serif;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: cornflowerblue;

}